<a href="https://colab.research.google.com/github/Whateveres/Desafios_Data_Science/blob/main/Desaf%C3%ADo_Estad%C3%ADstica_descriptiva_y_probabilidades(parte_I)_Alejandra_Tobar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1>Desafío - Estadística descriptiva y probabilidades(parte I)
</h1></center><hr> 🚀
Nombre: Alejandra Tobar <hr>

**Descripción**

**Se cargaron los datos del Set de datos
asociados a los ingresos obtenidos por la población en base de a la información
demográfica entregada en el archivo ds_salaries.csv**

In [39]:
import pandas as pd

data = pd.read_csv("ds_salaries.csv")
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

**1. El promedio general de los salarios, desviación estándar, quintiles y rango. (hint:escoge la columna adecuada para comparar**

In [40]:
#Promedio general de los salarios en USD
promedio = data['salary_in_usd'].mean().round(2)
print(f"El Promedio es de {promedio}")

#Calculando Desviación Estándar
desv_std = data['salary_in_usd'].std().round(2)
print(f"La Desviación Estándar es {desv_std}")


#Calculando Quintiles
quintiles = data['salary_in_usd'].quantile([0.2,0.4,0.6,0.8]).round(2)
print(f"Los quintiles son:\n{quintiles}")


#Calculando Rango
minimo = data['salary_in_usd'].min().round(2)
maximo = data['salary_in_usd'].max().round(2)
rango = maximo - minimo
print(f"El Rango es {rango}")

El Promedio es de 137570.39
La Desviación Estándar es 63055.63
Los quintiles son:
0.2     83972.8
0.4    120000.0
0.6    149850.0
0.8    185900.0
Name: salary_in_usd, dtype: float64
El Rango es 444868

**2.Una comparación entre los salarios agrupados por 3 diferentes categorías a tu elección. ¿Para cuál de ellas las medidas de tendencia central son más
representativas? ¿Para cuál son menos representativas? Explica**

In [49]:
#Comparando salarios agrupados por categorías: job_title, experience_level, employment_type.

#Agrupando por categoría job_title:
cat_job_title = data.groupby('job_title')['salary_in_usd'].agg(['mean', 'median', 'std']).sort_values(by='mean', ascending=False).round(2)
print(cat_job_title.head())
print("\n")  # agrega un salto de espacio

#Agrupando por categoría experience_level:
cat_experience_level = data.groupby('experience_level')['salary_in_usd'].agg(['mean', 'median','std']).sort_values(by='mean', ascending=False).round(2)
print(cat_experience_level.head())
print("\n")  # agrega un salto de espacio

#Agrupando por categoría employment_type:
cat_employment_type = data.groupby('employment_type')['salary_in_usd'].agg(['mean', 'median','std']).sort_values(by='mean', ascending=False).round(2)
print(cat_employment_type.head())
print("\n")  # agrega un salto de espacio

                               mean    median        std
job_title
Data Science Tech Lead    375000.00  375000.0        NaN
Cloud Data Architect      250000.00  250000.0        NaN
Data Lead                 212500.00  212500.0   17677.67
Data Analytics Lead       211254.50  211254.5  273997.51
Principal Data Scientist  198171.12  164630.5   99306.05


                       mean    median       std
experience_level
EX                194930.93  196000.0  70661.93
SE                153051.07  146000.0  56896.26
MI                104525.94  100000.0  54387.69
EN                 78546.28   70000.0  52225.42


                      mean    median        std
employment_type
FT               138314.20  135000.0   62452.18
CT               113446.90   75000.0  130176.75
FL                51807.80   50000.0   29458.88
PT                39533.71   21669.0   38312.15

Analizando las medidas de tendencia central como la Media y Mediana junto con la medida de dispersión Desviación Estándar para el estudio de la distribución de los salarios por categoría, se observa que:

*  **Job_title**: Los datos podrían sugerir una distribución simétrica en torno a la media, ya que la distancia entre la media y la mediana es pequeña, indicando una distribución uniforme.  Sin embargo, la falta de datos suficientes para ciertos roles y la alta variabilidad mostrada en las desviaciones estándar en los salarios para algunos roles hacen que esta observación sea incierta.

* **Experience_level:** Esta categoría muestra comportamiento intermedio en comparación con las otras dos junto con variabilidad moderada reflejada en las desviaciones estándar. Sugiere una distribución más uniforme de los salarios dentro de cada nivel de experiencia, aunque con un poco menos simetría que la categoría job_title.

*  **Employment_type:** La mayor distancia entre la media y mediana indica una posible presencia de outliers, ya que la media es más sensible a valores atípicos. Esta hipótesis se refuerza por la mayor variabilidad en los salarios mostrada por las desviaciones estándar.


*Teniendo lo anterior en consideración, se concluye que las medidas de tendencia central son más representativas para las 3 categorías en el siguiente orden:*

1.   Experience_level
2.   Employment_type
3.   Job_title

**3. ¿Qué cargos reciben mejores sueldos en las empresas con sede en Estados Unidos?**

In [38]:
#Filtrando por empresas con sede en US
data_us = data[data['company_location'] == 'US']

#Filtrando por cargos que reciben mejores sueldos
mejores_sueldos = data_us.groupby('job_title')['salary_in_usd'].max()

#Ordenando resultados de forma descendente
mejores_sueldos = mejores_sueldos.sort_values(ascending=False)

#Imprimiendo resultados
print(f"Los cargos que reciben mejores sueldos en las empresas con sede en Estados Unidos son:\n{mejores_sueldos.head()}")

Los cargos que reciben mejores sueldos en las empresas con sede en Estados Unidos son:
job_title
Research Scientist                    450000
Applied Machine Learning Scientist    423000
Principal Data Scientist              416000
Data Scientist                        412000
Data Analytics Lead                   405000
Name: salary_in_usd, dtype: int64

---
🚀
Nombre: Alejandra Tobar <hr>